* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#background {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 10px;
  color: #000000;
  margin-top: 5%;
}

.button-box {
  width: 220px;
  margin: 5% auto 0;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 97px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 8px 6px 26px 0;
}

span {
  color: #777;
  font-size: 12px;
  bottom: 65px;
  position: absolute;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}

.class-btn {
  width: 130px;
  position: relative;
  height: 40px;
  border-radius: 10px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 27, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
}

.margin-top {
  margin-top: 20px;
}
.class-btn:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}
.class-btn:before,
.class-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f0094a;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.class-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.class-btn:hover:before,
.class-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
